5.1   Introduction
The system being designed is an agent to play the Starcraft II minigames in PySC2 by running it through PySC2. The program will be created using Reinforcement Learning and Causal Inference.  The reinforcement learning will be handled by Pytorch.
The remainder of this document serves as follows: Section 5.2 describes the function requirements, including the user interface, how a single run works, the reinforcement learning element, and the causal inference element. Section 5.3 details the required baseline performance for the agent. Section 5.4 describes the required specifications for the environment.

           5.2   Functional Requirements

           5.2.1 User Interface 
                        5.2.1.1 Input to the program consists of command line inputs,
                                  running the script.
                        5.2.1.2 Output of the program is the score after running a 
                                  Minigame.
                5.2.2 Single Run
                        5.2.2.1 Running the program will execute one of the mini-games.
                         5.2.2.2 The agent will choose actions in an attempt to maximize
                                  its score at the minigame.
                5.2.3 Reinforcement Learning
                        5.2.3.1 The agent will learn to maximize its mini-game score by 
                                  training.
                        5.2.3.2  Training will adjust weights along the edges of the its 
                                   neural network.
                        5.2.3.3  The trained neural network will be able to accomplish 
                                   the mini games on its own.

                5.2.4 Causal Inference
                        5.2.3.1 The Reinforcement Learning agent will connect to a Causal 
                                  Inference structure
                        5.2.3.2  Performance will be compared using the causal inference 
                                   structure, compared to purely reinforced learning.
                        5.2.3.3  The causal inference structure cannot complete the 
                                   minigames without the aid of the reinforced learning 
                                   component.
            5.3   Performance Requirements
        
           5.3.1 Game performance
5.3.1.1  The agent will be able to perform at a minimum of real 
                   time speed
                        5.2.1.1  In the case the agent cannot perform optimally at real 
                                   time speed, it shall drop its functionality to ensure 
                                   it runs at real time
           5.4   Environment Requirements
Category
	Requirements
	Processor
	Intel i7
	Hard Drive Space
	10GB
	RAM
	8GB
	Operating System
	Windows 10
	Language
	Python 3
	

The agent needs to be able to run Starcraft 2, as well as running the agent, and then updating the agent. These requirements mean that we need significant RAM and a strong processor. We also need a fair amount of hard drive space to store everything for reinforcement learning. PySC2 runs well in the Windows 10 environment, so it will be used for development and execution.